

img {
    margin-right: 20px;
    width:600px;
    height: auto;
    border: 1px solid rgb(241, 234, 234);
    border-radius: 10px;
  } 

  ngb-rating{
    color: gold;
    font-size: 30px;
}  
.price{
  font-size: 30px;
  font-weight: bold;
}
button{
  border:none;
background-color: #ff9f00;
box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
color: #fff;
padding: 18px 98px;
font-weight: bold;
margin-left: 2px;
}




  