<div class="container">
    <br>
    <h3 class="head"> Products</h3>
    <br>
    <div class="row">
    <div class=" col-lg-4 col-md-4 col-12 card" *ngFor="let product of productList" >
        <h3>{{ product.name }}</h3>
        <img src="{{ product.displayImage }}" alt="{{ product.name }}">
        <div class="card-body">
            <p>Price: {{ product.price }} &#x20B9; </p>
        <p>Discount: {{ product.discount }}%</p>
        <p>Quantity available: {{ product.quantity }}</p>
                <ngb-rating [max]="5"></ngb-rating><br>
                <br><button  (click)="viewProductDetails(product.id)">View more details</button>
                <!-- <br><a [routerLink]="['/productDetail',product.id]">View Details</a> -->
        </div>
    </div>
</div>
<br>
<hr>
