<div class="container">
    <div class="row">
      <div class="col boot">
        <i class="fa-brands fa-bootstrap"></i>
        Bootstrap
      </div>
      <div class="col">
        <input class="intxt" id="intxt" type="text" placeholder="Search">
        <span class="icon1" id="icon1"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <div class="col">
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-user"></i>
        <button class="btn" >Sign in | Registor</button>
      </div>
      
    </div>
</div>


<div class="container">
  <div class="card text-white col-lg-12 col-md-12 col-12">
      <img src="./assets/gradient.jpg" class="card-img" style="max-height: 18rem; " alt="gradient img">
      <div class="card-img-overlay">
          <h5 class="card-title pt-5">
              <h1 class="text-center">Great Banner</h1>
          </h5>
          <p class="card-text pt-3 text-center">Lorem ipsum dolor sit amet consectetur dolor consectetur
          </p>
      </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row border">
      <div class="col-lg-4 col-md-4 col-12">
          <i class="fa-solid fa-truck pt-2 text-primary "></i>
          <h3 class="pt-2">Fast delivery</h3>
              <p>Lorem ipsum dolor sit, amet consectetur ipsum dolor sit, amet consecteturipsum dolor sit, amet
                  consectetur ipsum dolor sit, amet consectetur </p>
      </div>
      <div class="col-lg-4 col-md-4 col-12 ">
          <i class="fa-solid fa-building-columns pt-2 text-primary"></i>
          <h3 class="pt-2">Creative Strategy</h3>
              <p>Lorem ipsum dolor sit, ipsum dolor sit, amet consectetur ipsum dolor sit, amet consecteturipsum
                  dolor sit, amet consectetur</p>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
          <i class="fa-solid fa-lock pt-2 text-primary "></i>
          <h3 class="pt-2">High secured</h3>
              <p>Lorem ipsum dolor sit, amet consectetur ipsum dolor sit, amet consectetur ipsum dolor sit, amet
                  consectetur</p>
      </div>
  </div>
</div>
<br><br>

<div class="container footer">
    
 <span>© 1234-5678, Mycart.com</span>
 <p class="date"> {{todayDate}}</p>
  <br>
  <hr>
</div>

