.row{
    
    display: flex;
    justify-content: space-around;
}
.intxt, .icon1{
    border:1px solid gray;
   
    padding: 2px;
    margin-top: 3px;
    
}
.boot{
    margin-top: 10px;
    font-weight: bold;
}
#intxt{
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 10px;
}
#icon1{
    background-color: rgb(13, 43, 241);
    padding: 3.5px;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    
}
.fa-cart-shopping, .fa-user{
border:1px solid gray;
border-radius: 5px;
padding:5px;
margin-top: 10px;
margin-left: 5px;
}
button{
    margin-left: 5px;
    margin-bottom: 8px;
}
.fa-bootstrap{
    font-size: 30px;
    color:blue;
    
}
.fa-truck, .fa-building-columns, .fa-lock{
    font-size: 30px;
}
.card:hover{
    background-color: rgb(238, 234, 234);
}
.head{
    margin-top:30px;
    margin-bottom:20px;
}
/* ngb-rating{
    color: gold;
    font-size: 30px;

} */
button{
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bold;
}

.date{
    float:right;
    padding-top: 5px;
}
.footer{
    background-color: rgb(235, 229, 229);
   
}
